<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YHCollection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C3E6BBE1C87DFAA00EEF35E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C3E6BD71C87DFAB00EEF35E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C3E6BE21C87DFAB00EEF35E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
